---
layout: home
---

<section id="home">
	<div class = "container">
		<div class="landingbg">

			  <div class="avatar">
				<img class="img-circle" src="{{ site.baseurl }}static/img/{{ site.avatar }}" alt="cool image">
			  </div>

		</div>

	</div>
</section>

<section id="about">
	<div class = "container">
	  	<h3 align = "left "> about </h3>

	    <h4 align="left">
  			{{ site.about | where:"name","eng_bio"}}
	 	</h4>
	</div>
</section>


<section id="projects">
	<div class="container">

  	<h3 align = "left "> selected projects </h3>
	  	<div class="panel panel-default">
			<div class="panel-body">

 				{% assign projects = site.projects | sort: 'number' %}
				{% for project in projects  %}

					<p> <strong> {{ project.name }} </strong> at {{project.company}}
					<br>
					{{ project.description }} </p>

				{% endfor %}


			</div>
		</div>
	</div>
</section>




<section id="writing">
	<div class="container">

  	<h3 align = "left "> writing</h3>
	  	<div class="panel panel-default">
			<div class="panel-body">

				{% for article in site.articles %}

					<p><a href = {{article.address}}> <strong> {{article.title}} </strong>  </a>
					<br>
					{{article.summary}}  </p>

				{% endfor %}

			</div>
		</div>
	</div>
</section>




<!--   CV stuff   -->


<section id="cv">
	<div class="container">

  	<h3 align = "left "> curriculum vitae  <a href="/assets/cv_engineering_compiled.pdf" class="active">  pdf </a></h3>
	  	<div class="panel panel-default">
			<div class="panel-body">

			{{ site.cv | where: "format","html" }}

			</div>
		</div>
	</div>
</section>




<!--  Math stuff   -->


<section id="cv">
	<div class="container">

  	<h3 align = "left "> math  </h3>
	  	<div class="panel panel-default">
 			<div class="panel-body"  >
			    <div id="math_bio">
					{{ site.about | where:"name","math_bio"}}
				</div>
			 </div>
		</div>
	</div>
</section>
<!--   services (teaching and consulting)   -->


<section id="services">
	<div class="container">

  	<h3 align = "left "> services</h3></h3>
	  	<div class="panel panel-default">
			<div class="panel-body">

				<h4>consulting</h4>
				<div class="panel-body"  >
				    <div id="consulting_info">
						{{ site.about | where:"name","consulting_info"}}
					</div>
				 </div>

				<br>

				<h4>teaching</h4>
				<div class="panel-body"  >
				    <div id="teaching_bio">
				    	 <a href="/assets/cv_teaching_compiled.pdf" class="active">  Teaching CV </a>
						{{ site.about | where:"name","teaching_bio"}}
					</div>
				 </div>

			</div>
		</div>
	</div>
</section>




<section id="contact">
	<div class = "container">
	 	<h3>Contact me at: {{ site.email }} </h3>
		  {% include social.html %}
	</div>
</section>
