---
layout: home
---

<section id="home">
	<div class = "container">
		<div class="landingbg">
			
			  <div class="avatar">
				<img class="img-circle" src="{{ site.baseurl }}static/img/{{ site.avatar }}" alt="cool image">
			  </div>

			  <h3>  I am <strong>Matthew Kim</strong>.  I teach and study mathematics and develop machine learning algorithms</h3>
		
		</div>

	</div>
</section>

<section id="about">
	<div class = "container">
	  	<h3 align = "left "> in short </h3>
	  
	    <h4 align="left"> 	
  			{{ site.content | where:"name","current_about" }}
	 	</h4>
	</div>
</section>


<section id="projects">
	<div class="container">

  	<h3 align = "left "> selected projects </h3>
	  	<div class="panel panel-default">
			<div class="panel-body">
 
				{% for project in site.projects %}

					<p> <strong> {{ project.name }} </strong> at {{project.company}} 
					<br>
					{{ project.description }} </p>

				{% endfor %}


			</div>
		</div>
	</div>
</section>


<!--   CV stuff   -->  


<section id="cv">
	<div class="container">

  	<h3 align = "left "> curriculum vitae  <a href="/_cv/out/cv_tmp.pdf">  (pdf) </a></h3>
	  	<div class="panel panel-default">
			<div class="panel-body">
			
			{{ site.cv | where: "format","html" }}

			</div>
		</div>
	</div>
</section>




<section id="contact">
	<div class = "container">
	 	<h3>Contact me at: {{ site.email }} </h3>
		  {% include social.html %}
	</div>
</section>
